/* Main styles */
body{
    margin: 0px;
    font-family: "Helvetica", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
/* Navbar styles */
.nav-wrapper {
    display: grid;
    grid-template-columns:  1fr;
    justify-content: center;
    padding: 35px;
    background-color: black;
    color: #474747;
    overflow: hidden;
}
.left-side {
    display: flex;
    justify-content: center;
}
.brand {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    font-weight: 600;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid #A4A2A2;
}
.nav-link-wrapper a:hover {
    color: #A4A2A2;
}
/* Home page */
.content-home {
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 12%;
}
/* About page styles */
.content {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 12%;
}
.content-about {
    background-color: black;
    font-size: larger;
}

.about-header h2 {
    color: white;
    text-align: center;

}
.about-paragraph {
    text-align: center;
    top: 25px;
    color: white;
}
.logos-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 30px;
    margin-top: 50px;
}
.logo-wrapper {
    height: 50px;
    width: 50px;
    margin-right: 30px;
}
 /* Education Styles */

 .education-content {
     display: grid;
     justify-content: center;
     align-content: center;
     background-color: black;
     height: auto;
     width: auto;
     color: white;
 }

 .content-wrapper {
     align-self: center; 
     margin-top: 120px;
     width: 500px;
     font-size: larger;
     margin-top: 35%;
}

 /* Gallery Styles */
 .gallery-items-wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
 .gallery-background-img {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     width: auto;
 }
 @media only screen and (max-width: 414px) {
    .gallery-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo-wrapper {
        height: 40px;
        width: 40px;
        margin-right: 30px;
    }
    
    .content-about {
        width: 300px;
    }
    .content-home {
        margin-top: 30%;
        margin-left: 20%;
    }
    .content-wrapper {
        width: 300px;
        margin-top: 55%;
    }
 }
 @media only screen and (max-width: 800px) {
    .gallery-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    } 
    .content-home {
        margin-top: 40%;
    }
    .content-wrapper {
        margin-top: 50%;
    }
 }











 