<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body style="background-color: black">
    {% extends "layout.html" %}
    {% block content %}
   <div class="content">
    <div class="content-about" style="background-color: black">

        <div class="about-header">
            <h2>Hello!</h2>

        </div>
        <div class="about-paragraph">
            <p>My name is Atakan, I'm 20 years old.</p>
            <p>If you want to know more about me you can check the links down below.</p>
        </div>
        <div class="logos-wrapper">
           
                <div class="logo-wrapper">
                    
                    <a href="https://www.instagram.com/atakanzenginn/?hl=tr" target="_blank"><img src="static/images/instagram-logo.png" height="50px" width="50px" style="margin-right: 30px;"></a>
                   
                </div>
                <div class="logo-wrapper">
                    
                    <a href="https://twitter.com/ravwastooshort" target="_blank"><img src="static/images/twitter.png" height="50px" width="50px" style="margin-right: 30px;"></a>
                </div>
            
            
                <div class="logo-wrapper">
                   
                    <a href="https://github.com/ataknz" target="_blank"> <img src="static/images/github-image.png" height="50px" width="50px" style="margin-right: 30px;"></a>
                </div>
                <div class="logo-wrapper">
                   
                    <a href="https://www.linkedin.com/in/atakan-zengin-3ab266198/" target="_blank"> <img src="static/images/linkedin.png" height="50px" width="50px" style="margin-right: 30px;"></a>
                </div>
                <div class="logo-wrapper">
                    <a href="mailto:atakanzzengin@gmail.com"><img src="static/images/gmail.png" height="50px" width="50px"></a>
                </div>
        </div>

    
</div>
   </div>
        
    </div>
    {% endblock %}
</body>
</html>