<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
    </head>
    <body style="background-color: black">
        {% extends "layout.html" %}
        {% block content %}
        <div class="container">

                <div class="education-content" style="background-image: url(static/images/hand.png);">
                    <div class="two-column-wrapper">
                        <div class="left-content-wrapper">
                            <p>I've always liked learning new things in my life. Since I was a child, I was very interested in foreign languages especially in English.</p>
                            <p>Language is a vital tool for communication. So that's why I'm studying Translation and Interpretation in English.</p>
                            <p>However, I don't want this as a profession. So I've started learning about programming. With hardwork and desire, this website will be full of with my works.</p>
                        </div>
                        <div class="right-content-wrapper">
                            <p>“Learning never exhausts the mind.” – Leonardo da Vinci</p>
                        </div>
                    </div>
                </div>
        </div>
        {% endblock %}
    </body>
</html>