<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>About</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="container">

                <div class="gallery-items-wrapper">
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/blueeyes.jpg);"></div>
                    </div>
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/cyber.jpg);"></div>
                    </div>
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/tv.jpg);"></div>
                    </div>
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/daft.jpg);"></div>
                    </div>
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/elle.jpg);"></div>
                    </div>
                    <div class="gallery-item-wrapper">
                        <div class="gallery-background-img" style="background-image: url(static/images/vrgirl.jpg);"></div>
                    </div>
                </div>
        </div>
        {% endblock %}
    </body>
</html>